.navbar {
    padding: 0.5rem 0;
    border-bottom: 3px solid $color-primary-dark;
}

.header {
    &__nav {
        .nav-link {
            color: $color-text !important;
            font-weight: 500;
            padding: 0.5rem 1rem !important;

            &:hover {
                color: $color-primary !important;
            }
        }
    }

    &__actions {
        display: flex;
        align-items: center;
    }
}